<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Bookcollection</a>
    

      <ul class="nav justify-content-end">
        <li class="nav-item"><%= link_to '本を登録する', new_book_path, class: 'btn btn-outline-light' %></li>
      </ul>

    </div>
  </nav>
</div>